.quailty-detail {
  padding-bottom: 24px;

  .area {
    margin-bottom: 24px;

    .title {
      margin-bottom: 10px;
      color        : '#333333';
      font-size    : 14px;
      font-weight  : 600;
    }

    .row {
      display     : flex;
      line-height : 38px;
      padding-left: 12px;

      .item {
        .label {
          display: inline-block;
          color  : #848485;
        }

        padding-right: 20px;
        flex         : 1;
        color        : #333333;
      }
    }
  }
}