.root {
  width: 580px;
}

.box {
  // height: 40px;
  // line-height: 40px;
  margin-bottom: 34px;
  margin-left  : 11px;
}

.boxLabel {
  width     : 70px;
  text-align: left;
  display   : inline-block;
  color     : #333333;
}

.boxLabel1 {
  width     : 98px;
  text-align: left;
  display   : inline-block;
  color     : #333333;
}

.boxText {
  color: #333333;
}

.title {
  font-size    : 16px;
  font-weight  : 600;
  margin-bottom: 10px;
  color        : #333333;
}

// customerDetail.less