.stock_taking {
    .dataTable {
        background: #ffffff;
        padding   : 0 24px 24px 24px;

        .dataBox {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin-bottom  : 12px;

            p {
                font-size  : 16px;
                font-weight: 500;
                color      : #3a3a3a;
            }
        }
    }
}