.tableData {
  margin-top : 24px;
  background : #fff;
  padding    : 24px 24px 8px;
  font-weight: 400;
}

.title {
  line-height    : 40px;
  height         : 40px;
  margin-bottom  : 24px;
  display        : flex;
  justify-content: flex-end;

  .addPermission {
    width        : 118px;
    height       : 40px;
    line-height  : 40px;
    background   : #477AEF;
    box-shadow   : 0 2px 4px 0 rgba(61, 134, 239, 0.45);
    border-radius: 4px;
    font-size    : 14px;
    font-weight  : normal;
    color        : #fff;
    text-align   : center;
    cursor       : pointer;
  }
}

.underline {
  text-decoration: underline;
  cursor         : pointer;
}

.middle {
  margin: 0 50px 0 0;
}

.time {
  display        : flex;
  justify-content: flex-end;

  .acquiescence {
    background  : var(--color-primary-blue);
    color       : #fff;
    margin-right: 20px;
  }

  .choose {
    border: 1px solid var(--color-primary-blue);
    color : var(--color-primary-blue);
  }

  .blueBtn {
    width        : 88px;
    height       : 32px;
    line-height  : 32px;
    background   : #477AEF;
    box-shadow   : 0 2px 4px 0 rgba(61, 134, 239, 0.45);
    border-radius: 4px;
    font-size    : 14px;
    font-weight  : normal;
    color        : #fff;
    text-align   : center;
    cursor       : pointer;
    margin-right : 20px;
  }

  .whiteBtn {
    width        : 88px;
    height       : 32px;
    line-height  : 32px;
    border       : 1px solid #477AEF;
    border-radius: 4px;
    font-size    : 14px;
    font-weight  : normal;
    color        : #477AEF;
    text-align   : center;
    cursor       : pointer;
  }
}

.roleLable {
  color: #333333;
}

.roleAdd {
  .title {
    line-height    : 40px;
    height         : 40px;
    margin-bottom  : 24px;
    display        : flex;
    justify-content: flex-end;
  }

  .permission {
    font-weight: normal;
  }

  .topRoot {
    .rootTitle {
      background : #f5f5f5;
      border     : 1px solid #eaeaea;
      height     : 50px;
      line-height: 50px;
      width      : 100%;
      font-size  : 14px;
      font-weight: normal;
      color      : #666666;
      text-align : center;
    }

    .permissionCheck {
      font-weight  : normal;
      border-bottom: 1px solid #f0f0f0;
      color        : #333333;

      .permissionTitle {
        width      : 400px;
        text-align : center;
        line-height: 46px;
        display    : inline-block;
      }
    }

    .confirm {
      text-align   : right;
      margin-bottom: 22px;
      margin-top   : 36px;

      span {
        width        : 80px;
        height       : 32px;
        line-height  : 32px;
        background   : #477AEF;
        box-shadow   : 0 2px 4px 0 rgba(61, 134, 239, 0.45);
        border-radius: 4px;
        font-size    : 14px;
        font-weight  : normal;
        color        : #fff;
        text-align   : center;
        cursor       : pointer;
        display      : inline-block;
      }
    }
  }
}