.main {
  display: flex;
  align-items: center;
  color: #4a4a5a;
  &:before {
    margin-right: 8px;
    display: inline-block;
    height: 16px;
    width: 3px;
    background-color: #3d86ef;
    position: relative;
    left: 0;
    content: '.';
    font-size: 0;
  }
  &.hei14:before {
    margin-right: 8px;
    display: inline-block;
    height: 14px;
    width: 3px;
    background-color: #3d86ef;
    position: relative;
    left: 0;
    content: '.';
    font-size: 0;
  }
}
