.form {
  :global {
    .ant-input-group-addon {
      background-color: #f6f7f9;
      color: #bfbfbf;
    }

    .ant-form-item-has-error {
      margin: 0;
    }

    .ant-form-item {
      margin: 0 !important;
    }

    .ant-form-item-explain-error,
    .ant-form-item-explain {
      position: absolute;
      white-space: nowrap;
    }

    .ant-form-item-label {
      width: 142px;
    }
  }
  .title {
    font-size: 16px;
    color: #333333;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
  }

  .row {
    padding-left: 32px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 860px;
    margin-top: 24px;
    margin-right: 48px;
    .col {
      // flex: 1;
      font-size: 14px;
      margin-right: 48px;
      // margin-left: -20px;
      label {
        color: #333333 !important;
      }
      & + .col {
        // margin-left: 19px;
      }

      .ipt {
        width: 271px;
      }

      &.db-input {
        display: flex;
        align-items: center;
        input {
          width: 96px;
        }

        > span {
          margin: 0 5px;
          min-width: 51px;
          text-align: center;
          color: #333333;
        }
      }
    }

    & + .title {
      margin-top: 30px;
    }
  }

  .bottom {
    margin-top: 24px;
    margin-left: 183px;
  }

  .table {
    width: 100%;
    color: #333333;
    .header {
      background-color: #f6f7f9;
      font-weight: 600;
      td {
        padding: 12px 24px;
      }
    }

    .data-row {
      border-bottom: 1px solid #f0f0f0;
      td {
        padding: 8px 24px;

        .ipt {
          width: 140px;
        }
      }
    }
  }
}

.scheme {
  padding-bottom: 16px;

  .scheme-block {
    display: flex;

    .ai-scheme {
      padding         : 16px;
      flex            : 1;
      // border-radius: 4px;
      border          : 1px solid #f0f0f0;
    }

    .curr-scheme {
      padding         : 16px;
      margin-left     : 16px;
      flex            : 1;
      // border-radius: 4px;
      border          : 1px solid #f0f0f0;
    }
  }

  .cost-block {
    margin-top      : 16px;
    margin-bottom   : 16px;
    padding         : 16px;
    // border-radius: 4px;
    border          : 1px solid #f0f0f0;

    .title {
      display    : flex;
      align-items: center;

      .ctrl-num {
        display    : flex;
        align-items: center;
      }
    }

    .body {
      .progress {
        margin-top     : 16px;
        display        : flex;
        justify-content: space-between;
        padding-bottom : 2px;

        .desc {
          font-size  : 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 600;
          color      : #333333;
        }

        .num {
          font-size  : 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 600;
          color      : #a3a3a3;
        }
      }
    }
  }

  .title {
    font-size  : 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color      : #333333;

    .ctrl-num {
      margin-left: 12px;
      font-size  : 22px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;

      &.fall {
        color: #66bd7e;
      }

      &.growth {
        color: #e44040;
      }
    }
  }

  .bottom {
    margin-top: 32px;
  }
}

.goods-form {
  :global {
    .ant-form-item-has-error {
      margin: 0;
    }

    .ant-form-item {
      margin: 0;
    }

    .ant-form-item-explain-error,
    .ant-form-item-explain {
      position: absolute;
      white-space: nowrap;
    }

    .ant-form-item-label {
      width: 143px;
      margin-right: 8px;
    }
  }
  .title {
    font-size: 16px;
    color: #333333;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 24px;
    padding-left: 32px;
    .col {
      // flex: 1;
      font-size: 14px;
      // margin-left: -20px;
      color: #333333;
      label {
        color: #333333 !important;
      }

      .label {
        padding-left: 8px;
        // width: 139px;
        line-height: 32px;
        display: inline-block;
        text-align: left;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #848485;
      }

      & + .col {
        margin-left: 40px;
      }
    }

    & + .title {
      margin-top: 30px;
    }
  }

  .bottom {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 48px;
  }
}

.allData{
  width: 100%;
  background: #ffb7410d;
  border-radius: 2px;
  border: 1px solid #ffb74173;
  font-size: 14px;
  color: #333333;
  padding: 12px;
  margin-bottom: 24px;
}