.main-form {
  padding-bottom: 106px;
  :global {
    .ant-form-item-has-error {
      margin: 0;
    }

    .ant-form-item {
      margin: 0;
    }

    .ant-form-item-explain-error,
    .ant-form-item-explain {
      position: absolute;
      white-space: nowrap;
    }

    .ant-form-item-label {
      width: 143px;
    }
  }
  .title {
    margin-top: 24px;
    font-size: 14px;
    color: #333333;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    flex: 1;
    padding: 12px 24px;
    position: relative;
    background: #f6f7f9;
    & + .row {
      margin-top: 24px;
    }

    .btn-remove {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .btn-add {
    margin-top: 32px;
    width: 812px;
    line-height: 32px;
    border-radius: 2px;
    border: 1px dashed #d8d8d8;
    text-align: center;
    color: #333333;
    cursor: pointer;
    &:hover {
      border-color: #477AEF;
      color: #477AEF;
      .anticon {
        color: #477AEF !important;
      }
    }
  }

  // .table-info {
  //   margin-top: 24px;
  //   padding-bottom: 24px;
  //   .btn-add {
  //     width: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     // width: max-content;
  //     // margin: 8px auto;
  //     border: 1px solid #d8d8d8;
  //     border-left: none;
  //     border-right: none;
  //     padding: 8px 0;

  //   }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & + .row {
      margin-top: 24px;
    }
    .col {
      flex: 1;
      font-size: 14px;
      // margin-left: -20px;
      color: #333333;
      label {
        color: #333333 !important;
      }

      .label {
        width: 139px;
        line-height: 32px;
        display: inline-block;
        text-align: right;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
      }

      & + .col {
        // margin-left: 28px;
      }
    }

    & + .title {
      margin-top: 24px;
    }
  }

  .bottom {
    left: 0;
    right: 0;
    margin-top: 24px;
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    padding-right: 16px;
  }
}
